//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 16 09:34:15 2023
//! **************************************************************************

SCHEMATIC START;
COMP "input<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "input<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "input<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "input<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "segment<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "segment<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "segment<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "segment<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "segment<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "segment<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "segment<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "segment<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "display<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "display<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "input<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "display<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "input<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "display<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "input<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "input<3>" LOCATE = SITE "M8" LEVEL 1;
SCHEMATIC END;

